*{
    margin: 0px;
    padding: 0px;
}

.contenedorProductD{
    display: flex;
    padding-top:200px;
    flex-direction: column;
}

.mitadScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    /* border: solid red 1px; */
}
.mitadScreen img{
    width: 75%;
}
.uno{
    flex-direction: row;
    align-items: center;
}
.uno i{
    font-size: 30px;
}
.uno i:hover{
    color: gray;
    cursor: pointer;
}
.dos{
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}
.dos h2{
    margin-bottom: 15px;
}
/* tabletas */
@media(min-width:361px){

   .contenedorProductD{
        flex-direction: row;
        padding-top:200px;
        height: 550px;
        flex-wrap: nowrap;
        /* border: solid red 1px; */
   }
   .mitadScreen{
       justify-content: center;
       align-items: center;
       /* border: solid red 1px; */
       height: 100%;
   }
   .dos{
       
       text-align: left;
      
   }
   .uno img{
       height: 300px;
   }
 
}
/* desktop */

@media(min-width:769px){
   
 .uno img{
        height: 500px;
    }
    .contenedorProductD {
        
        padding-top:400px;
        
   }

}