<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Estilos/home.css">
    <link rel="stylesheet" href="./Estilos/productDetail.css">
    <link rel="stylesheet" href="./Estilos/login.css">
    <link rel="stylesheet" href="./Estilos/productCart.css">
    <link rel="stylesheet" href="./Estilos/register.css">
</head>
<body>
    <header>
        <img class='logoMenu' src="./images/Logo_negro.png" alt="logo">
        <div class="contenedorUno" >
            <div class="barraYlupa"><input class="search letra"  type="text"><i class="fas fa-search"></i></div>
            <div class="menus">
                <select name="Categorias" class="barraYlupa letra">
                    <option value="Categorias">Categorías</option>
                    <option value="Clasicos">Clasicos</option>
                    <option value="Smart">Smart</option>
                    <option value="Sport">Sport</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    
                </select>
                
            </div>
            
        </div>
        <div class=" icons">
            <i class="icon fas fa-cart-arrow-down"></i>
            <i class="icon fas fa-home"></i>
            <i class="icon fas fa-user-circle"></i>
        </div>
        <i class=" burguer icon fas fa-bars"></i>
        
        
    </header>
    <main>
        <div class="mitadScreen">
            
        </div>
        <div class="mitadScreen">
            <article class="relojClasico">
                <h2>RELOJ CLASICO</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquam quidem sit vel, dolores numquam suscipit possimus similique voluptatibus iure omnis reiciendis rerum voluptas ipsum? Mollitia hic magni esse laborum!</P>
                <P>Price USD 100.00</P>
                <button>ADD TO CAR</button>
        </div>
    </main>
    <footer> 
        <img src="/images/Logo_Blanco.png" alt="">
        <button>CONTACT US</button>
        <div class="redes">
            <i class="fa-brands fa-pinterest-square"></i>
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            
        </div>
    </footer>
    </body>
</html>