<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Estilos/home.css">
    <link rel="stylesheet" href="/Estilos/productDetail.css">
    <link rel="stylesheet" href="/Estilos/login.css">
    <link rel="stylesheet" href="/Estilos/productCart.css">
    <link rel="stylesheet" href="/Estilos/register.css">
    <link rel="stylesheet" href="/Estilos/createEditProduct.css">
</head>
<body>
    <%- include('./partials/menu') %>
    <main>
        <h1>Create and Edit Products</h1>
        <form action="/product/createEditProduct" method="POST">
            <div class="createEditProduct">
                <label>Name </label>
                <input type="text" name="nombre" class="inputs">
            </div>
            <div class="createEditProduct">
                <label>Description </label>
                <textarea name="descripcion" class="inputs"></textarea>
            </div>
            <div class="createEditProduct">
                <label>Image </label>
                <input type="file" name="image" class="inputs">
            </div>
            <div class="createEditProduct">
                <label>Category </label>
                <select name="Categorias" class="barraYlupa letra">
                    <option value="Categorias">Select</option>
                    <option value="Clasicos">Clasicos</option>
                    <option value="Smart">Smart</option>
                    <option value="Sport">Sport</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                </select>
            </div>
            <div class="createEditProduct">
            <label>Colours </label>
            <select name="color">
                <option value="#ff0000">Red</option>
                <option value="#00ff00">Green</option>
                <option value="#0000ff">Blue</option>
                <option value="#770077">Purple</option>
                </select>
            </div>
            <div class="createEditProduct">
                <label>Price </label>
                <input type="text" name="precio" class="inputs">
            </div>
            <div class="createEditProduct">
            <button type ="submit" class="botonNewProduct">LOAD NEW PRODUCT</button>
        </div>
        </form>
        <div class="boton-edit">
            <button  class="edit">EDIT EXISTING PRODUCTS</button>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>