<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Estilos/home.css">
    <link rel="stylesheet" href="/Estilos/productDetail.css">
    <link rel="stylesheet" href="/Estilos/login.css">
    <link rel="stylesheet" href="/Estilos/productCart.css">
    <link rel="stylesheet" href="/Estilos/register.css">
    <link rel="stylesheet" href="/Estilos/createEditProduct.css">
</head>
<body>
    <%- include('./partials/menu') %>
        <main>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="formulario-login">
                <label>Mail</label>
                <input type="email" name="email" class="inputs">
            </div>
            <div class="formulario-login">
                <label>Password</label>
                <input type="password" name="password" class="inputs">
            </div>
            <div class="formulario-login">
            <label>Forgot your password</label>
                <input type="email" name="forgot" class="inputs">
            </div>
            </form>
            <div class="formulario-login">
                <a href="/register"><button class="botonCreateAccount">I WOULD LIKE TO CREATE AN ACCOUNT!</button></a>
            </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>