<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/Estilos/styles.css">
    <link rel="stylesheet" href="/Estilos/notfound.css">
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <title>Not found</title>
</head>
<body>
    
    <div class="brillo"></div>
    <h1>Ups... we couldn't found anything</h1>
    
    
    <%- include('./partials/footer') %>
</body>
</html>