<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/Estilos/styles.css">
    <link rel="stylesheet" href="/Estilos/productCar.css">
    <link rel="stylesheet" href="/Estilos/home.css">
    <title>Carrito de compras</title>

</head>
<body>
    <%- include('./partials/menu',userlogged) %>

    <main class="main_carrito">
        <h2 class="precio">precio Total: $$$$$</h2>
        <div class="productosCarrito">
            <article class="sugerencia_item">
                <img src="/images/reloj-mujer.png" alt="item">
                <h3>TITULO RELOJ</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquam quidem sit vel, dolores numquam suscipit possimus similique voluptatibus iure omnis reiciendis rerum voluptas ipsum? Mollitia hic magni esse laborum!</P>
                <h4>Price: $$$$</h4>
                <button class="delete">DELETE</button>
            </article>
            <article class="sugerencia_item">
                <img src="/images/reloj-hombre.png" alt="item">
                <h3>TITULO RELOJ</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquam quidem sit vel, dolores numquam suscipit possimus similique voluptatibus iure omnis reiciendis rerum voluptas ipsum? Mollitia hic magni esse laborum!</P>
                <h4>Price: $$$$</h4>
                <button class="delete">DELETE</button>
            </article>
            <article class="sugerencia_item">
                <img src="/images/reloj-smart.png" alt="item">
                <h3>TITULO RELOJ</h3>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aliquam quidem sit vel, dolores numquam suscipit possimus similique voluptatibus iure omnis reiciendis rerum voluptas ipsum? Mollitia hic magni esse laborum!</P>
                <h4>Price: $$$$</h4>
                <button class="delete">DELETE</button>
            </article>

        </div>
        <div class="botones-Precio">
            <button class="gotopay">Go to pay for all</button>
            <button>Delete all</button>

        </div>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>