<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="/Estilos/register.css">
   <link rel="stylesheet" href="/Estilos/styles.css">
   <link rel="stylesheet" href="/Estilos/home.css">
   
</head>
<body>
    <%- include('./partials/menu',userlogged) %>
    <main>
        
        <form class="formulario-register" action="/users/register" method="POST" enctype="multipart/form-data">
            <h1>Please let us know about you</h1>
            
            <div class="columna" >
                <label>Name </label>
                <input class="inputs" type="text" name="nombre" class="inputs">
            </div>
            <div class="columna" >
                <label>Nickname </label>
                <input class="inputs" type="text" name="nickname" class="inputs">
            </div>
            <div class="columna" >
                <label>E-mail </label>
                <input class="inputs" type="email" name="email" class="inputs">
            </div>
            <div class="columna" >
                <label>Country </label>
                <input class="inputs" type="text" name="country" class="inputs">
            </div>
            <div class="columna" >
                <label>Password </label>
                <input class="inputs" type="password" name="password" class="inputs">
            </div>
            <div class="columna" >
            <label>Confirm your password </label>
                <input class="inputs" type="password" name="forgot" class="inputs">
            </div>
            <div class="columna" >
                <label for="avatar">please load your avatar</label>
                <input class="inputs" type="file" name="avatar">
            </div>
            <div class="columna">
                <button type ="submit" class="botonSignIn">  SIGN-IN</button>
             </div>
            
        </form>
        <div class="boton-login">
            <a href="/users/login"><button  class="login">I HAVE AN ACCOUNT</button></a>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>