<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Estilos/home.css">
    <link rel="stylesheet" href="./Estilos/productDetail.css">
    <link rel="stylesheet" href="./Estilos/login.css">
    <link rel="stylesheet" href="./Estilos/productCart.css">
    <link rel="stylesheet" href="./Estilos/register.css">
</head>
<body>
    <%- include('./partials/menu') %>
    <main>
        <h1>Sign In</h1>
        <form action="/register" method="POST">
            <div class="formulario-register">
                <label>Name </label>
                <input type="text" name="nombre" class="inputs">
            </div>
            <div class="formulario-register">
                <label>Last Name </label>
                <input type="text" name="apellido" class="inputs">
            </div>
            <div class="formulario-register">
                <label>Mail </label>
                <input type="email" name="email" class="inputs">
            </div>
            <div class="formulario-register">
                <label>Password </label>
                <input type="password" name="password" class="inputs">
            </div>
            <div class="formulario-register">
            <label>Confirm your password </label>
                <input type="password" name="forgot" class="inputs">
            </div>
            <div class="formulario-register">
            <button type ="submit" class="botonSignIn">SIGN-IN</button>
        </div>
        </form>
        <div class="boton-login">
            <a href="/login"><button  class="login">I HAVE AN ACCOUNT</button></a>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>