<footer> 
    <img src="/images/Logo_Blanco.png" alt="">
    <button>CONTACT US</button>
    <div class="redes">
        <i class="fa-brands fa-pinterest-square"></i>
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-twitter-square"></i>
        
    </div>
</footer>