<header>
    <a class='linkmenus' href="/"><img class='logoMenu' src="/images/Logo_negro.png" alt="logo"></a>
    <form class="contenedorUno" >
        <div class="barraYlupa"><input class="search letra"  type="text"><i class="fas fa-search"></i></div>
        <div class="menus">
            <select name="Categorias" class="barraYlupa letra">
                <option value="Categorias">Categorías</option>
                <option value="Clasicos">Clasicos</option>
                <option value="Smart">Smart</option>
                <option value="Sport">Sport</option>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                
            </select>
            
        </div>
        
    </form>
    <div class=" icons">
        <a href="/productCar"><i class="icon fas fa-cart-arrow-down"></i></a>
        <a href="/"><i class="icon fas fa-home"></i></a>
        <a href="/register"><i class="icon fas fa-user-circle"></i></a>
    </div>
    <i class=" burguer icon fas fa-bars"></i>
</header>