*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
    width: 100%;
  
}
.letra{
    font-family: 'roboto';
    font-weight: bolder;
    text-align: center;
}


main{
    display: flex;
    padding-top:200px;
    flex-direction: column;
    /* border: solid red 1px;
     */
}
.sugerencias{
    width: 100%;
    /* border: solid red 1px; */
}
.sugerencias h2{
    font-family: 'roboto';
    color: gray;
    text-align: center;
    margin-top: 25px;
    /* border: solid blue 1px; */
}
.mensuales{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
    /* border: solid green 1px; */
}

.sugerencia_item{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 550px;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow: 5px 5px 10px;
    margin:10px;
}
.sugerencia_item a button{
    border: black solid 1px;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 80%;
    font-family: 'roboto';
    font-weight: bolder;
    background: black;
    box-shadow: inset 10px 5px 20px white;
}
.linkitem{
    font-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.sugerencia_item a button:hover{
    cursor: pointer;
    transition: 500ms;
    background-color: gray;
    color: black;
}

.sugerencia_item img{
    height: 200px;
    width: 200px;
}

/* desktop */
@media(min-width:769px){
    .icons{
        flex-direction: row;
        align-items:center ;
    }
    /* seccion principal */
    .slider{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .slider img{
        width: 100%;
        height: 500px;
    }
 /*    .sugerencias{
        
        height: 800px;
    } */
    .mensuales{
       
        flex-direction: row;
        flex-wrap: wrap;
    }
 
    .sugerencia_item{
        width: 25%;
    }
    .sugerencias h2{
        font-size: 40px;
    }
}